<section class="pt-5">
<div class="container pt-5">
  <div class="d-flex">
    <a href="/admin/add-coupon" class="btn btn-success mt-4 ms-auto ms-2">Add new coupon</a>
  </div>
  <div class="p-3 mt-3 mb-5 rounded" style="background-color: white;">
     <h4 class="text-dark text-center fw-light">COUPON DETAILS</h4>
   {{!-- {{#if updateStatus}}
    <p style="color: green;">{{updateStatus}}</p>
   {{/if}} --}}
  <table class="table table-light mt-5 display nowrap" style="width:100%" id="table1">
  <thead>
    <tr>
      <th scope="col">SL No.</th>
      <th scope="col">Coupon code</th>
      <th scope="col">Amount off</th>
      <th scope="col">Minimum purchase</th>
      <th scope="col">Valid from</th>
      <th scope="col">Valid till</th>
      <th scope="col">Status</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
      {{#each coupons}}
    <tr>
      <td></td>
      <td>{{this.coupon_code}}</td>
      <td>{{this.amount_off}}</td> 
      <td>{{this.minimum_purchase}}</td>
      <td>{{this.valid_from}}</td>
      <td>{{this.valid_till}}</td>
       <td>{{#if this.isExpired}}
         <p class="text-danger">EXPIRED</p>
        {{else if this.status}}
         <a  class=" btn btn-success text-white p-2 "  onclick="disable('{{this._id}}')" >Enabled</a>
         {{else}}
         <a  class="btn btn-danger"  onclick="enable('{{this._id}}')" >Disabled</a>
        {{/if}}
      </td>
      <td>
         <a href="/admin/edit-coupon/{{this._id}}" class="btn "><i class="fa-regular fa-lg fa-pen-to-square"></i></a>
        <a  class=" btn  text-dark p-2 " onclick="confirmation('{{this._id}}')"><i class="fas fa-trash fa-lg"></i></a>
      </td>
    </tr>
     {{/each}}
  </tbody>
</table>
</div>
</div>

</section>

<script>
    $(document).ready(function() {
    var table = $('#table1').DataTable( {
        rowReorder: {
            selector: 'td:nth-child(2)'
        },
        responsive: true,
         "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
        $('td:eq(0)', nRow).html(iDisplayIndexFull +1);
    }
    } );
 });

 function confirmation(id){
    Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {
    $.ajax({
        url: `/admin/delete-coupon/${id}`,
        method: 'get',
        success: (response) => {
          location.reload()
        }
      })   
    //  location.href=`/admin/delete-coupon/${id}`
  }

})
  }

  function enable(id){
   $.ajax({
        url: `/admin/coupon-enable/${id}`,
        method: 'get',
        success: (response) => {
          location.reload()

        }
      })

  }

  function disable(id){
    $.ajax({
        url: `/admin/coupon-disable/${id}`,
        method: 'get',
        success: (response) => {
          location.reload()

        }
      })
  }
</script>