<div class="py-5">
  <div class=" container-fluid">
    <div class=" row justify-content-center m-5">
      <div class=" bg-light m-5 p-4 col-md-6 rounded" style="box-shadow:  5px 5px 14px #d3d3d3,-5px -5px 14px #ededed;">
        <div class="row justify-content-center">
          <div class="col-md-6">


            <div class="">
              <h2 class="tm-block-title d-inline-block logo">Edit coupon</h2>
            </div>
            {{!-- {{#if updateStatus}}
            <p style="color: green;">{{updateStatus}}!</p>
            {{/if}} --}}
          </div>
          <form action="/admin/edit-coupon/{{coupon._id}}" method="post" id="offer-form">
            <div class="row pb-3">

              <div class="form-group mb-3 py-2">
                <label for="Coupon code">Coupon code
                </label>
                <input name="coupon_code" type="text" class="form-control validate" value="{{coupon.coupon_code}}" />
              </div>

              <div class="form-group mb-3 py-2">
                <label for="name">Amount off
                </label>
                <input name="amount_off" type="number" class="form-control validate" value="{{coupon.amount_off}}" />
              </div>

              <div class="form-group mb-3 py-2">
                <label for="Minimum purchase">Minimum purchase
                </label>
                <input name="minimum_purchase" type="number" class="form-control validate" value="{{coupon.minimum_purchase}}" />
              </div>

              <div class="form-group mb-3 py-2">
                <label for="Valid from">Valid from
                </label>
                <input name="valid_from" type="date" class="form-control validate" value="{{coupon.valid_from}}" />
              </div>

              <div class="form-group mb-3 py-2">
                <label for="Valid till">Valid till
                </label>
                <input name="valid_till" type="date" class="form-control validate" value="{{coupon.valid_till}}"  />
              </div>

              <div class="col-12 py-2">
                <button type="submit" class="btn btn-dark text-uppercase">Edit Coupon</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
