<head>
  <!-- Custom styles -->
  <link rel="stylesheet" href="/stylesheets/admin.css" />
  <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
</head>

<body>

  <!--Main layout-->
  <main class="pt-5">
    <div class="container pt-4">


      <!--Section: Statistics with subtitles-->
      <section>
        <div class="row">

        </div>
        <div class="row">
          <div class="col-xl-6 col-md-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                  <div class="d-flex flex-row">
                    <div class="align-self-center">
                      <h2 class="h1 mb-0 me-4">&#x20b9;{{details.revenue}}</h2>
                    </div>
                    <div>
                      <h4>Total Sales</h4>
                      <p class="mb-0">Sales Amount</p>
                    </div>
                  </div>
                  <div class="align-self-center">
                    <i class="fa-solid fa-coins fa-3x" style="color: gold;"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6 col-md-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between p-md-1">
                  <div class="d-flex flex-row">
                    <div class="align-self-center">
                      <h2 class="h1 mb-0 me-4">{{details.totalUsers}}</h2>
                    </div>
                    <div>
                      <h4>Total customers</h4>
                      <p class="mb-0">User report</p>
                    </div>
                  </div>
                  <div class="align-self-center">
                    <i class="fa-solid fa-user text-success fa-3x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Statistics with subtitles-->

      <div class="row align-items-center">
        <!-- Section: Main chart -->
        <section class="mb-4 col-md-7 ">
          <div class="card ">
            <div class="card-header py-3">
              <h5 class="mb-0 text-center"><strong>Sales</strong></h5>
            </div>
            <div class="card-body">
              <canvas class="my-4 w-100" id="myChart" height="380"></canvas>
              <div class="d-flex justify-content-start ">
                <div><span class="ms-2">From:</span><input id="from" class="form-control " type="date"
                    min="{{details.date1.[0]}}"></div>
                <div class="ms-2"><span class="">To:</span><input id="to" class="form-control " type="date"
                    min="{{details.date1.[0]}}"></div>

              </div>
              <div class="pt-2"><button onclick="filterDate()" class="btn ms-2 ">Filter</button>
                <button onclick="resetDate()" class="btn ms-2 ">Reset</button>
              </div>
            </div>
          </div>
        </section>
        <!-- Section: Main chart -->

        <!-- Section: doughnut chart -->
        <section class="mb-4 col-md-5 ">
          <div class="card ">
            <div class="card-header py-3">
              <h5 class="mb-0 text-center"><strong>Payments</strong></h5>
            </div>
            <div class="card-body" style="height: 380;">
              <canvas class="my-4 w-100" id="Chart" height="270"></canvas>
            </div>
          </div>
        </section>
        <!-- Section: doughnut chart -->
      </div>

      {{!-- ------product Purchase Report--------- --}}
      <section class="row mb-4  justify-content-center">
        <div class="card-header text-center py-3">
          <h5 class="mb-0 text-center">
            <strong>Products Purchase Report</strong>
          </h5>
        </div>


        <!-- Section: pie chart -->
        <section class="mb-4 col-md-6 m-2">
          <div class="card ">
            <div class="card-header py-3">
              <h5 class="mb-0 text-center"><strong>Category wise sales</strong></h5>
            </div>
            <div class="card-body chart-container" style="position: relative; ">
              <canvas class="my-4" id="category-sale"></canvas>
            </div>
          </div>
        </section>
        <!-- Section: pie chart -->

        {{!-- ---------------Products Most Sold------------------- --}}
        <div class="card col-md-5 m-2">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
              <strong>Products Most Sold</strong>
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">

              <table id="productsTable" class="display table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th scope="col">Products</th>
                    {{!-- <th scope="col">Category</th> --}}
                    <th scope="col">Quantity</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each details.mostSoldProducts}}
                  <tr>
                    <td>
                      <img height="40px" width="40px" src="/product-images/{{this._id}}-0.jpg" alt="most sold">
                      <span>{{this.name}}</span>
                    </td>
                    {{!-- <td>{{this.category}}</td> --}}
                    <td>{{this.sum}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {{!-- ---------------Products Most Sold------------------- --}}

        {{!-- ---------------Products Most Ordered------------------- --}}
        <div class="card col-md-5 m-2">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
              <strong>Products Most Ordered</strong>
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">

              <table id="productsTable" class="display table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th scope="col">Products</th>
                    <th scope="col">Quantity</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each details.mostOrderedProducts}}
                  <tr>
                    <td>
                      <img height="40px" width="40px" src="/product-images/{{this._id}}-0.jpg" alt="most sold">
                      <span>{{this.name}}</span>
                    </td>
                    <td>{{this.sum}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {{!-- ---------------Products Most Ordered------------------- --}}


        {{!-- ---------------Products Most Cancelled------------------- --}}

        <div class="card col-md-6 m-2">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
              <strong>Products Most Cancelled</strong>
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">

              <table id="productsTable" class="display table table-hover text-nowrap">
                <thead>
                  <tr>
                    <th scope="col">Products</th>
                    <th scope="col">Quantity</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each details.mostCancelledProducts}}
                  <tr>
                    <td>
                      <img height="40px" width="40px" src="/product-images/{{this._id}}-0.jpg" alt="most sold">
                      <span>{{this.name}}</span>
                    </td>
                    <td>{{this.sum}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <hr>
      </section>
      {{!-- ---------------Products Most Cancelled------------------- --}}
      {{!-- ------product Purchase Report--------- --}}


      <!--Section: Sales report-->
      <section class="mb-4">
        <div class="card">
          <div class="card-header text-center py-3">
            <h5 class="mb-0 text-center">
              <strong>Sales Report</strong>
            </h5>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover text-nowrap" id="saleReport">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Products sold</th>
                    <th scope="col">Revenue</th>
                    <th scope="col">COD</th>
                    <th scope="col">Razorpay</th>
                    <th scope="col">Paypal</th>
                    <th scope="col">Wallet</th>
                    <th scope="col">Avg. Revenue</th>

                    <th scope="col">Total Orders</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Daily</th>
                    <td class="text-dark">{{details.dailyProductsCount}}</td>
                    <td>{{details.dailySale}}</td>
                    <td>{{details.dailyCodCount}}</td>
                    <td>{{details.dailyRazorCount}}</td>
                    <td>{{details.dailyPaypalCount}}</td>
                    <td>{{details.dailyWalletCount}}</td>
                    <td>{{details.dailyAvgRevenue}}</td>

                    <td>{{details.dailySalesCount}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Weekly</th>
                    <td>
                      <span class="text-dark">
                        <span>{{details.productsCount}}</span>
                      </span>
                    </td>
                    <td>
                      <span class="text-dark">
                        <span>{{details.weeklyOrders.[0].totalWeekly}}</span>
                      </span>
                    </td>
                    <td>
                      <span class="text-dark">
                        <span>{{details.codCount}}</span>
                      </span>
                    </td>
                    <td>
                      <span class="text-dark">
                        <span>{{details.razorCount}}</span>
                      </span>
                    </td>
                    <td>
                      <span class="text-dark">
                        <span>{{details.paypalCount}}</span>
                      </span>
                    </td>
                    <td>
                      <span class="text-dark">
                        <span>{{details.walletCount}}</span>
                      </span>
                    </td>
                    <td>
                      <span class="text-dark">
                        <span>{{details.avgRevenue}}</span>
                      </span>
                    </td>

                    <td>
                      <span class="text-dark">
                        <span>{{details.salesCount}}</span>
                      </span>
                    </td>


                  </tr>
                  <tr>
                    <th scope="row">Yearly</th>
                    <td>
                      <span class="text-dark">
                        <span>{{details.productsCount}}</span>
                      </span>
                    </td>
                    <td>
                      <span class="text-dark">
                        <span>{{details.yearlyOrders.[0].totalYearly}}</span>
                      </span>
                    </td>
                    <td>
                      <span class="text-dark">
                        <span>{{details.codCount}}</span>
                      </span>
                    </td>
                    <td>
                      <span class="text-dark">
                        <span>{{details.razorCount}}</span>
                      </span>
                    </td>
                    <td>
                      <span class="text-dark">
                        <span>{{details.paypalCount}}</span>
                      </span>
                    </td>
                    <td>
                      <span class="text-dark">
                        <span>{{details.walletCount}}</span>
                      </span>
                    </td>
                    <td>
                      <span class="text-dark">
                        <span>{{details.avgRevenue}}</span>
                      </span>
                    </td>
                    <td>
                      <span class="text-dark">
                        <span>{{details.salesCount}}</span>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </section>
      <!--Section: Sales report-->

    </div>
  </main>
  <!--Main layout-->

  <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
  <script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.print.min.js"></script>

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
      $('#saleReport').DataTable({
        rowReorder: {
          selector: 'td:nth-child(2)'
        },
        responsive: true,
        dom: 'Bfrtip',
        buttons: [
          'copy', 'csv', 'excel', 'pdf', 'print'
        ]
      });


    });
  </script>

</body>

<script>
  // Graph
  var ctx = document.getElementById("myChart");
  var ct = document.getElementById("Chart");
  var Orderdate = []
  var revenueData = []
  var convertedDates = []
  var catName = []
  var catCount = []
  var myChart;
  $(document).ready( function () {
    $.ajax({
      url: '/admin/get-report',
      method: 'get',
      success: (details) => {
        details.date1.forEach(function (x) { Orderdate.push(x) })
        details.total1.forEach(function (x) { revenueData.push(x) })
        convertedDates = Orderdate.map(date => new Date(date).setHours(0, 0, 0, 0));
        console.log(Orderdate)
        for (let i in details.catSale) {
          catName.push(details.catSale[i].cat_name)
          catCount.push(details.catSale[i].cat_count)
        }
      }
    }).then(()=> {
      //-------------bar chart------------------//
      myChart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: Orderdate,
          datasets: [
            {
              label: "Daily Sales",
              data: revenueData,
              lineTension: 0,
              backgroundColor: '#8a84e2',
              borderColor: 'rgba(255, 26, 164, 1)',
              pointBackgroundColor: "#007bff",
            },
          ],
        },
        options: {
          scales: {
            xAxes: {
              type: 'time',
              time: {
                unit: 'day'
              }
            },
            yAxes:
            {
              ticks: {
                beginAtZero: false,
              },
            },
          },
          legend: {
            display: false,
          },
        },
      });

//---------------payment method doughnut chart------------------//
      new Chart(ct, {
        type: 'doughnut',
        data: {
          labels: [
            "COD",
            "Razorpay",
            "Paypal",
            "Wallet"
          ],
          datasets: [{
            backgroundColor: ["#ff5d73", "#fbb13c", "#32e875", "#219ebc"],
            data: [{{ details.codCount }}, {{ details.razorCount }}, {{ details.paypalCount }}, {{ details.walletCount }}]
                }]
            },
    options: {
    title: {
      display: true,
    }
  }
        });

//------------- category Pie chart------------------//

  new Chart(document.getElementById("category-sale"), {
    type: 'pie',
    data: {
      labels: catName,
      datasets: [{
        label: "Category wise sale",
        backgroundColor: ["#3e95cd", "#8e5ea2", "#3cba9f"],
        data: catCount
      }]
    },
    options: {
      maintainAspectRatio: false,
      title: {
        display: true,
      }
    }
  });
})

})

/* ------------------------------- Date filter ------------------------------ */
  function filterDate() {
    // (new Date('2021-11-01 00:00:00 G4T+9800')
    const from1 = new Date(document.getElementById('from').value);
    const from = from1.setHours(0, 0, 0, 0)
    const to1 = new Date(document.getElementById('to').value);
    const to = to1.setHours(0, 0, 0, 0)

    const filterOrderDates = convertedDates.filter(date => date >= from && date <= to)
    myChart.data.labels = filterOrderDates
    //working on data
    const startArray = convertedDates.indexOf(filterOrderDates[0])
    const endArray = convertedDates.indexOf(filterOrderDates[filterOrderDates.length - 1])
    const dupRevenueData = [...revenueData]
    dupRevenueData.splice(endArray + 1, filterOrderDates.length)
    dupRevenueData.splice(0, startArray)
    myChart.data.datasets[0].data = dupRevenueData
    myChart.update()
  }

  function resetDate() {
    myChart.data.labels = convertedDates
    myChart.data.datasets[0].data = revenueData
    myChart.update()
  }

</script>