<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light position-fixed w-100" style="z-index: 500; background-color: #EAEAEA;">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0 logo" href="/">
        Apparel
      </a>

      <!-- Left links -->
      <ul class="navbar-nav me-0 mb-2 mb-lg-0">
        {{#if index}}
        <li class="nav-item">
          <div class="dropdown">
            <a class="dropdown-toggle d-flex align-items-center hidden-arrow nav-link" href='/'
              id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">All
              category</a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">

              {{#each categories}}
              <li>
                <a class="dropdown-item" href="#{{this.category}}">{{this.category}}</a>
              </li>
              {{/each}}
            </ul>
          </div>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link" href="/">All category</a>
        </li>
        {{/if}}

        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/orders">Orders</a>
        </li>
        {{/if}}

        {{!-- <li class="nav-item">
          <a class="nav-link" href="/wishlist">Wishlist</a>
        </li> --}}

      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      {{#if user}}
      <a class="text-reset me-3" href="/cart">
        <i class="fas fa-shopping-cart"></i>
        <span class="badge rounded-pill badge-notification bg-danger" id="cart-count">{{cartCount}}</span>
      </a>
      {{else}}
      <a class="text-reset me-3" href="/login">
        <i class="fas fa-shopping-cart"></i>
      </a>
      {{/if}}


      <!-- Avatar -->
      {{#if user}}
      <div class="dropdown">
        <a class="dropdown-toggle d-flex align-items-center hidden-arrow text-dark" href="/login"
          id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
          <img src="/images/person3.png" class="rounded-circle" height="25" alt="Black and White Portrait of a Man"
            loading="lazy" /> {{user.fname}}</a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
          <li>
            <a class="dropdown-item" href="/account">My profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
      {{else}}

      <a class="btn btn-dark" href="/login">Login</a>

      {{/if}}
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- /Navbar -->