<section style="background-color: #eee;">
  <div class="container py-5 ">
   

    <div class="row pt-5">
      <div class="col-lg-4">
        <div class="card mb-4 ">
          <div class="card-body text-center violet rounded-5">
            <img src="/images/images.jpg" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3 text-white">{{user.fname}} {{user.lname}}</h5>
            <p class="text-white mb-1">{{user.email}}</p>
            <p class="text-white  mb-4">+91 {{user.phone}}</p>
            <div class="form-control d-flex justify-content-between border" style="background-color: transparent;">
              <span class="fs-5 fw-bold text-white" id="refferalId">{{user.referralId}}</span> 
              <button class="btn px-3 text-white" onclick="CopyToClipboard('refferalId');return false;">Copy</button></div>
               <p class="text-white m-0 text-start">Share your refferal Id to win ₹{{referrals.referrer_offer}}/- wallet balance</p>
          </div>
          {{!-- {{user.refferal_code}} --}}
        </div>
         <div class="card mb-4 mb-lg-0">
          <div class="card-body p-4 d-flex justify-content-between align-items-center">
            <i class="fa-solid fa-wallet fa-xl"><span class="fs-6  logo"> Wallet</span> </i>
            <span>Balance:<span class="fs-4 fw-bold">  ₹ {{userDetails.wallet.balance}}/-</span></span>
            </div>
            </div>

        {{!-- <div class="card mb-4 mb-lg-0">
          <div class="card-body p-4">
            <ul class="list-group list-group-flush rounded-3">
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
             <img style="height: 30px; width: 30px;" src="/images/shopping-cart.png" alt="">
               <a href="/cart"> <p class="mb-0 color">Cart</p></a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3">
               <img style="height: 30px; width: 30px;" src="/images/shopping-bag.png" alt="">
                <a href="/orders"><p class="mb-0 color">Orders</p></a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center p-3 ">
                <i class="fa-solid fa-heart fa-lg" style="color: #ee5555;"></i>
                <a href=""><p class="mb-0 color">Wishlist</p></a>
              </li>
             
            </ul>
          </div>
        </div> --}}
<div class="p-2 my-2" style="background-color: white;">
  <ol class="list-group list-group-light list-group-numbered">
  <h5 class="pt-2 text-center color">Saved addresses</h5>
    <hr>
    {{#if userDetails.addresses}}
    {{#each userDetails.addresses}}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold ">{{this.title}}</div>
     <p class="mb-0">{{this.address}}</p>
     <span >{{this.city}}, {{this.pincode}}</span>
     <p class="mb-0">{{this.phone}}</p>
    </div>
     <a  class=" btn text-dark p-2 mx-2 " onclick="confirmation('{{this.title}}')"><i class="fas fa-trash fa-lg"></i></a>
  </li>
  {{/each}}
  {{else}}
   <div class=" d-flex justify-content-center align-items-center">
     <p class="mb-0">You haven't saved anything yet</p>
   </div>
  {{/if}}
  
</ol>
</div>

      </div>
      <div class="col-lg-8 " >
        <form action="/update-profile" method="post" class="update-profile-form" id="form2">
        <div class="card mb-4 p-2" id="address"  >
            {{#if profileUpdateErr}}
                  <p class="alert alert-danger">{{profileUpdateErr}}</p>
              {{/if}}
          <div class="card-body ">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">First Name</p>
              </div>
              <div class="col-sm-9">
                <input type="text" class="border-0" name="fname" value="{{user.fname}}">
              </div>
            </div>
            <hr>
             <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Last Name</p>
              </div>
              <div class="col-sm-9">
                <input type="text" class="border-0" name="lname" value="{{user.lname}}">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <input type="email" class="border-0" name="email" value="{{user.email}}">
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Mobile</p>
              </div>
              <div class="col-sm-9">
                <input type="tel" class="border-0" name="phone" value="{{user.phone}}">
              </div>
            </div>
            <hr>

            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Password</p>
              </div>
              <div class="col-sm-9">
                <input type="password" name="password" class="border-0" placeholder="Enter current password">
              </div>
            </div>
            <hr>
           
          </div>
           <button type="submit" class="btn btn-outline-dark mb-3 ms-4 update-profile-btn" style="width: 10rem;">Update details</button>
        </div>
        </form>

        <div class="row">
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
              <form action="/update-address" method="post" class="update-address-form" id="form-address-edit">
              <div class="card-body">
                <p class="mb-4 fs-5"><span class="text-primary font-italic me-1" >Manage</span> your address
                </p>
                 {{#if addressErr}}
                  <p class="alert alert-danger">{{addressErr}}</p>
              {{/if}}

                 <div class="mb-4 pb-2">
                    <div class="form-outline">
                      <input type="text"  name="title" class="form-control form-control-lg" placeholder="eg. home, office" />
                      <label class="form-label" for="form3Examplev3">Title</label>
                    </div>
                  </div>

                <Address class="mb-4 pb-2">
                    <div class="form-outline">
                      <textarea  name="address" cols="3" class="form-control form-control-lg" ></textarea>
                      <label class="form-label" for="form3Examplev2">Address</label>
                    </div>
                  </Address>
                  
                  <div class="mb-4 pb-2">
                    <div class="form-outline">
                      <input type="text"  name="city" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplev3">City</label>
                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div class="form-outline">
                      <input type="number"  name="pincode" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplev3">Pincode</label>
                    </div>
                  </div>

                   <div class="mb-4 pb-2">
                    <div class="form-outline">
                      <input type="tel"  name="phone" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplev3">Mobile</label>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-dark update-address-btn">Add address</button>
                    
              </div>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-4 mb-md-0 ">
              <form action="\update-password" class="update-password-form" id="passwordForm" method="post">
                {{#if pwdErr}}
                  <p class="alert alert-danger">{{pwdErr}}</p>
              {{/if}}
              <div class="card-body ">
                <p class="mb-4 fs-5"><span class="text-primary font-italic me-1 ">Edit</span> your password
                </p>
                  <div class="mb-4 pb-2">
                    <div class="form-outline">
                      <input type="password"  name="password" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplev3">Current password</label>
                    </div>
                  </div>

                  <div class="mb-4 pb-2">
                    <div class="form-outline">
                      <input type="password"  name="new_password" id="newPassword" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplev3">New password</label>
                    </div>
                  </div>

                   <div class="mb-4 pb-2">
                    <div class="form-outline">
                      <input type="password"  name="confirm_password" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Examplev3">Confirm password</label>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary update-password-btn">Edit password</button>
              </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{!-- <script>
  //function submit(){
  // var x = document.getElementById("address");
   
   // x.style.display = "block";

   
  }
</script> --}}

<script>
  $('button.update-profile-btn').click( function() {
        $('form.update-profile-form').submit();
    });
    $('button.update-address-btn').click( function() {
        $('form.update-address-form').submit();
    });
    $('button.update-password-btn').click( function() {
        $('form.update-password-form').submit();
    });
</script>

<script>
   function confirmation(title){
    Swal.fire({
  title: 'Are you sure?',
  text: "You won't be able to revert this!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Yes, delete it!'
}).then((result) => {
  if (result.isConfirmed) {   
    location.href = `/delete-address/${title}`    
  }

})
  }

  
function CopyToClipboard(id)
{
var r = document.createRange();
r.selectNode(document.getElementById(id));
window.getSelection().removeAllRanges();
window.getSelection().addRange(r);
document.execCommand('copy');
window.getSelection().removeAllRanges();
}

</script>