<head>
  <script
    src="https://www.paypal.com/sdk/js?client-id=AZ7HWqCqHO1XNjFH8ogly6t3fTKVcu1N969VigFyhS7Nf5PIxe3CxYGzdpSrPIofgpyzN-SBXjymLfR9&currency=USD"></script>

</head>
<section class="h-100 h-custom pt-5">
  <div class="container py-5 h-100 pt-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 ">
        <div class="card card-registration card-registration-2">
          <div class="card-body p-0">

            <div class="row g-0">
              <div class="col-lg-6">
                <div class="p-5">
                  <h3 class="fw-normal mb-2 logo" style="color: #4a1942;">Shipping details</h3>

                  <!-- Pills navs -->
                  <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">
                      <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" href="#pills-login" role="tab"
                        aria-controls="pills-login" aria-selected="true">Use saved address</a>
                    </li>
                    {{#if orderAddress}}
                    {{else}}
                    <li class="nav-item" role="presentation">
                      <a class="nav-link" id="tab-register" data-mdb-toggle="pill" href="#pills-register" role="tab"
                        aria-controls="pills-register" aria-selected="false">Add another address</a>
                    </li>
                    {{/if}}
                  </ul>
                  <!-- Pills navs -->

                  <!-- Pills content -->
                  <div class="tab-content">
                    <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                      <form action="/deliver-here" method="post" id="deliver-form" class="deliver-form">
                        {{#if userDetails.addresses}}

                        {{#if orderAddress}}
                        {{#each userDetails.addresses}}
                        {{#ifCond this.title ../orderAddress}}
                        <div class="p-3 mb-2 rounded-5" id="address-div" style="background-color: rgb(238, 234, 234);">
                          <p class="fw-bold mb-0 ps-3" for="address">{{this.title}}</p>
                          <p class="mb-0 ps-3 ">{{this.address}} {{this.pincode}}</p>
                          <p class="mb-0 ps-3">+91 {{this.phone}}</p>
                        </div>
                        {{/ifCond}}
                        {{/each}}

                        {{else}}
                        <h5 class="fw-light">Choose an address</h5>
                        {{#each userDetails.addresses}}
                        <div class="p-3 mb-2 rounded-5" id="address-div" style="background-color: rgb(238, 234, 234);">
                          <input type="radio" name="order_address" value="{{this.title}}">
                          <label class="fw-bold" for="address">{{this.title}}</label>
                          <p class="mb-0 ps-3">{{this.address}} {{this.pincode}}</p>
                          <p class="mb-0 ps-3">+91 {{this.phone}}</p>
                        </div>
                        {{/each}}
                        <button class="btn btn-dark btn-block deliver-btn" type="submit">Deliver here</button>
                        {{/if}}
                        {{else}}
                        <div class="p-3 row rounded-5" style="background-color: rgb(238, 234, 234);">
                          <label class="fw-bold text-center" for="address">You haven't saved any addresses yet</label>
                        </div>
                        {{/if}}
                      </form>
                    </div>

                    <div class="tab-pane fade" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                      <form action="/update-address-checkout" class="update-address-form" method="post"
                        id="form-address-edit">
                        <div class="mb-4 pb-2">
                          <div class="form-outline">
                            <input type="text" name="title" class="form-control form-control-lg"
                              placeholder="eg. home, office" />
                            <label class="form-label" for="form3Examplev3">Title</label>
                          </div>
                        </div>

                        <Address class="mb-4 pb-2">
                          <div class="form-outline">
                            <textarea name="address" cols="3" class="form-control form-control-lg"></textarea>
                            <label class="form-label" for="form3Examplev2">Address</label>
                          </div>
                        </Address>

                        <div class="mb-4 pb-2">
                          <div class="form-outline">
                            <input type="text" name="city" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Examplev3">City</label>
                          </div>
                        </div>

                        <div class="mb-4 pb-2">
                          <div class="form-outline">
                            <input type="number" name="pincode" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Examplev3">Pincode</label>
                          </div>
                        </div>

                        <div class="mb-4 pb-2">
                          <div class="form-outline">
                            <input type="tel" name="phone" class="form-control form-control-lg" />
                            <label class="form-label" for="form3Examplev3">Mobile</label>
                          </div>
                        </div>

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-dark btn-block mb-3 update-address-btn">Add
                          address</button>

                      </form>
                    </div>
                  </div>
                  <!-- Pills content -->



                </div>
              </div>
              <div class="col-lg-6 text-white" style="background-color: #4a1942;">
                <div class="p-5">
                  <form action="" id="checkout-form">
                    <h3 class="fw-normal mb-5 logo">Payment Details</h3>

                    <div class="mb-4 pb-2">
                      <div class="d-flex justify-content-between align-items-center text-white">
                        <h4>Total amount</h4>
                        <h5 class="float-left">₹<span id="total">{{total}}</span>/-</h5>
                      </div>
                      <hr>
                    </div>

                    <div class="row">
                      <div class="mb-4 pb-2 border rounded">
                        <div class="text-white p-4">
                          <label class="mb-2 fw-bold" for="payment method">Select a payment method</label><br>
                          <input type="radio" id="wallet" name="payment_method" onclick="displaycheckout()" value="Wallet">
                          <label for="wallet">Wallet ₹<span
                              id="wallet-balance">{{userDetails.wallet.balance}}</span></label><span class="fw-light"
                            id="wallet-status"></span><br>
                          <input type="radio" id="cod" name="payment_method" onclick="displaycheckout()" value="COD" required>
                          <label for="cod">Cash on delivery</label><br>
                          <input type="radio" id="razorpay" name="payment_method" onclick="displaycheckout()" value="Razorpay">
                          <label for="razorpay">Razorpay</label><br>
                          <input type="radio" name="payment_method" onclick="displayPaypal()" value="Paypal">
                          <label for="paypal">Paypal</label><br>
                          <div id="paypal-button-container" class="d-none mt-3"></div>

                        </div>

                      </div>
                      <input class="d-none" type="text" name="userId" value="{{user._id}}">
                      <input class="d-none" type="text" name="title" value="{{orderAddress}}">
                      <input class="d-none" type="text" name="name" value="{{user.fname}} {{user.lname}}">
                      {{#each userDetails.addresses}}
                      {{#ifCond this.title ../orderAddress}}
                      <input class="d-none" type="text" name="address" value="{{this.address}}">
                      <input class="d-none" type="text" name="city" value="{{this.city}}">
                      <input class="d-none" type="number" name="pincode" value="{{this.pincode}}">
                      <input class="d-none" type="tel" name="phone" value="{{this.phone}}">
                      {{/ifCond}}
                      {{/each}}
                    </div>

                    {{!-- <div class="form-check d-flex justify-content-start mb-4 pb-3">
                      <input class="form-check-input me-3" type="checkbox" value="" id="form2Example3c" />
                      <label class="form-check-label text-white" for="form2Example3">
                        I do accept the <a href="#!" class="text-white"><u>Terms and Conditions</u></a> of your
                        site.
                      </label>
                    </div> --}}

                    <a href="/cart" class="btn btn-dark border btn-lg" data-mdb-ripple-color="dark">Go back</a>
                    <button type="submit" id="checkout-btn" class="btn btn-light btn-lg d-none"
                      data-mdb-ripple-color="dark">Checkout</button>
                 
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="/javascripts/paypal.js"></script>
<script src="/javascripts/script.js"></script>
<script src="/javascripts/checkout.js"></script>

