<style>
  .head {
    background-color: #14213d;
  }

  p {
    all: unset;
  }
</style>

{{#if orders}}
<section class="h-100 pt-3">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center  h-100">
      <h3 class="fw-normal mb-0 mt-5 pb-3 text-black text-uppercase">Orders</h3>
      <p class="fw-light">(Refunds are only initiated if order is placed)</p>
      <div class="col-12 mt-4">
        {{#each orders}}
        <div class="card rounded-5 mb-5">
          <div class="card-body px-0 pt-0">
            <div class="d-flex head flex-wrap align-items-center p-3 justify-content-around text-white rounded-top">
              <p class="my-auto mx-auto">Order placed on {{this.date}}<br>at {{this.time}}</p>
              {{#ifCond this.delivery_status 'Cancelled'}}
              <p class="my-auto mx-auto">Order is Cancelled</p>
              {{else}}
              <p class="my-auto mx-auto">Order is {{this.status}} </p>
              {{/ifCond}}
              <p class="my-auto mx-auto">Total spend &#x20b9;{{this.total}}</p>
              <p class="my-auto mx-auto">Payment through {{this.payment_method}}</p>
              <p class="my-auto mx-auto">Delivery is {{this.delivery_status}}</p>
              {{#ifCond this.delivery_status 'Cancelled'}}
              <p class="my-auto mx-auto fw-bold">Order is cancelled <br><span class="fw-light fs-6">(Check wallet for refunds)</span></p>
              {{else}}
              {{#ifCond this.delivery_status 'Delivered'}}
               <p class="my-auto mx-auto fw-bold">DELIVERED</p>
              {{else}}
              <a class="btn btn-danger p-2" onclick="confirmation('{{this._id}}')">Cancel order</a>
              {{/ifCond}}
              {{/ifCond}}
            </div>
            <div class="row d-flex justify-content-around align-items-center ms-1">

              <div class="col-md-4 col-xl-4 ">
            {{#each this.products}}
                <img style="height: 5rem; width: 5rem;" class="m-2 rounded-5" src="/product-images/{{item}}-0.jpg"
                  alt="product image">
                  <a href="/product-details/{{item}}" class="text-dark"> <p class="lead fw-normal mb-2">{{name}}</p></a> <br>
            {{/each}}
              </div>
             
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2"> <span class="fw-bold">Delivery address</span><br> {{this.delivery_details.address}} {{this.delivery_details.city}} {{this.delivery_details.pincode}}</p>
              </div>

              <div class="col-md-2 col-lg-2 col-xl-2">
                <p class="lead fw-normal mb-2"><span class="fw-bold">Contact info</span><br>{{this.delivery_details.phone}}</p>
              </div>

            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  </div>
</section>

{{else}}
<div class="container pt-5">
  <div class="col-md-12 pt-5">
    <div class="card mb-4">
      <div class="card-body">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h3 class="fw-light text-uppercase">Your orders is empty</h3>
          <img style="width: 20rem; height: 20rem;" src="/images/Add to Cart-amico.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  function confirmation(id) {
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, cancel it!'
    }).then((result) => {
      if (result.isConfirmed) {
        location.href = `/cancel-order/${id}`
      }
    })
  }
</script>