<head>
  <script src="/javascripts/zoomsl.min.js"></script>
</head>
<section class="pt-5">
  <div class="container">
    <div class="col-md-12 d-flex flex-wrap justify-content-center">

      <div class="col-md-6 p-5">
        <img class="img-fluid rounded-4" id="image-zoom" src="/product-images/{{productDetails._id}}.jpg"
          alt="product image" style="height: 35rem; width: 30rem;">
      </div>

      <div class="col-md-6">
        <div class="card pro-detail p-5 ">
          <div class="card-body text-end">
            <h3 class="card-title py-3 logo">{{productDetails.name}}</h3>
            <div class="stars">
              <i class="fa fa-star "></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div>
            <h6 class="card-subtitle mb-2 text-muted py-3">Category: {{productDetails.category}}</h6>
            <p class="card-text py-2">{{productDetails.description}}</p>
            <p class="card-text py-2">Material: {{productDetails.material_type}}</p>
            <p class="card-text py-1 text-success">{{productDetails.stock}} in stock</p>
            <select name="sizes" id="">
              <option>Size</option>
              {{#each productDetails.sizes}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <div class="d-flex justify-content-end">
              {{#if productDetails.discount_price }}
              <h4 class="price py-3 text-success">&#x20b9;{{productDetails.discount_price}}</h4>
              <h5 class="py-3 ps-2 price text-danger"><del>&#x20b9;{{productDetails.actual_price}}/-</del></h5>
              {{else}}
              <h4 class="py-3 price">&#x20b9;{{productDetails.actual_price}}/-</h4>
              {{/if}}
            </div>
            <div>
              <div class="pt-4">
                <button onclick="addToCart('{{productDetails._id}}')" class="btn btn-dark rounded-0">Add to
                  cart</button>
                <a href="#" class="btn btn-outline-dark rounded-0">Add to wishlist</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section style="background-color: #eee;" class="mt-3">
  <div class="text-center container py-3 rounded-5">
    <h4 class="mt-4 mb-5 separator text-uppercase logo text-uppercase" style="color: #4a1942;"><strong>Related
        items</strong></h4>

    <div class="owl-carousel owl-theme">
      {{#each products}}
      {{#ifCond this.category ../productDetails.category}}
      <div class="item">
        <div class="mb-4">


          <div class="card h-100" style="background-color: transparent;">
            <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light" data-mdb-ripple-color="light">
              <img src="/product-images/{{this._id}}.jpg" class="w-100" style="height: 25rem;" />
              <a href="/product-details/{{this._id}}">
                {{! <div class="mask">
                  <div class="d-flex justify-content-start align-items-end h-100">
                    <h5><span class="badge bg-primary ms-2">New</span></h5>
                  </div>
                </div> }}
                <div class="hover-overlay">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </div>
              </a>
            </div>
            <div class="card-body">
              <a href="/product-details/{{this._id}}" class="text-start text-reset">
                <div class="d-flex justify-content-between">
                  <h5 class="card-title">{{this.name}}</h5>
                  <a href="" class="text-dark "><i class="fa-regular fa-heart "></i></a>
                </div>
              </a>
              {{!-- <a href="" class="text-start text-reset">
                <p>category</p>
              </a> --}}
              {{#if this.discount_price}}
              <h6 class="text-start"> &#x20b9;{{this.discount_price}}</h6>
              {{else}}
              <h6 class="text-start"> &#x20b9;{{this.actual_price}}</h6>
              {{/if}}


              {{!-- <a href="#" class="btn btn-outline-dark rounded-0 p-1">Add to Wishlist</a> --}}
              {{!-- <a href="/add-to-cart/{{this._id}}"> --}}
                <button onclick="addToCart('{{this._id}}')" class="cta">
                  <span class="hover-underline-animation">Add to cart</span>
                  <svg id="arrow-horizontal" xmlns="http://www.w3.org/2000/svg" width="30" height="10"
                    viewBox="0 0 46 16">
                    <path id="Path_10" data-name="Path 10"
                      d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
                      transform="translate(30)"></path>
                  </svg>
                </button>
                {{!-- </a> --}}

            </div>
          </div>


        </div>
      </div>
      {{/ifCond}}
      {{/each}}
    </div>

  </div>
</section>



<style>
  .pro-detail {
    width: 30rem;
    height: 35rem;
    background-color: transparent;
    box-shadow: none;
  }

  option {
    color: black;
  }

  select {
    background-color: transparent;
  }

  .stars i {
    color: gold;
  }

  .price {
    font-family: 'Lora', serif;
  }
</style>

<script>
  $(function () {
    $("#image-zoom").imagezoomsl({
      zoomrange: [4, 4]
    });
  });
</script>